{
  "openapi":"3.0.1",
  "info":{
     "title":"Fortanix DSM REST API",
     "description":"This is a set of REST APIs for accessing the Fortanix Data Security Manager. This includes APIs for managing accounts, and for performing cryptographic and key management operations.\n",
     "termsOfService":"https://www.fortanix.com/legal/terms/",
     "contact":{
        "name":"Fortanix Support",
        "url":"https://support.fortanix.com/",
        "email":"support@fortanix.com"
     },
     "license":{
        "name":"Apache 2.0",
        "url":"http://www.apache.org/licenses/LICENSE-2.0.html"
     },
     "version":"1.0.0-20200608"
  },
  "servers":[
     {
        "url":"https://apps.smartkey.io/"
     }
  ],
  "paths":{
     "/sys/v1/version":{
        "get":{
           "tags":[
              "Authentication"
           ],
           "summary":"Get DSM version information",
           "description":"Returns information about the  DSM server version and the client API version that it supports.\n",
           "operationId":"getServerVersion",
           "responses":{
              "200":{
                 "$ref":"#/components/responses/VersionResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           }
        }
     },
     "/sys/v1/health":{
        "get":{
           "tags":[
              "Authentication"
           ],
           "summary":"Check whether the server is handling requests",
           "description":"Returns a 200-class status code if the server is handling requests, or a 500-class status code if the server is having problems.\n",
           "operationId":"checkHealth",
           "responses":{
              "204":{
                 "description":"Nothing is returned on success",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           }
        }
     },
     "/sys/v1/session/auth":{
        "post":{
           "tags":[
              "Authentication"
           ],
           "summary":"Create a session for a user or an app",
           "description":"Authenticate a user or an app to DSM to begin a session. The caller needs to provide a basic authentication token to authenticate to DSM. The response body contains a bearer authentication token which needs to be provided by subsequent calls for the duration of the session.\n",
           "operationId":"authorize",
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AuthResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "basicAuth":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/session/reauth":{
        "post":{
           "tags":[
              "Authentication"
           ],
           "summary":"Create a new session for a user or an app using an existing session bearer token.",
           "description":"Authenticate a user or an app to DSM using existing session token, to generate a new session. The caller needs to provide bearer authentication token of an existing valid session. The response body contains a bearer authentication token of the new session created.\n",
           "operationId":"reAuth",
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AuthResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/session/refresh":{
        "post":{
           "tags":[
              "Authentication"
           ],
           "summary":"Refreshes existing user or app session.",
           "description":"Refreshes an existing session, thus extending the expiration time of the existing bearer authentication token. The caller needs to provide bearer token of sesssion need to be refreshed. The response body is empty.\n",
           "operationId":"refresh",
           "responses":{
              "204":{
                 "description":"Nothing is returned on success",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/session/terminate":{
        "post":{
           "tags":[
              "Authentication"
           ],
           "summary":"Terminate a session",
           "description":"Terminate an authenticated session. After this call, the provided bearer authentication token will be invalidated and cannot be used to make any further API calls.\n",
           "operationId":"terminate",
           "responses":{
              "204":{
                 "description":"Nothing is returned on success",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/session/select_account":{
        "post":{
           "tags":[
              "Authentication"
           ],
           "summary":"Select a user's account to work on",
           "description":"Select one of user's account to proceed. This is applicable when a user is associated with more than one account. The caller needs to provide a bearer token for the session in the request body.\n",
           "operationId":"selectAccount",
           "requestBody":{
              "$ref":"#/components/requestBodies/SelectAccountRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/SelectAccountResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys":{
        "get":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Get all security objects",
           "description":"Return detailed information about the security objects stored in Fortanix DSM.\n",
           "operationId":"getSecurityObjects",
           "parameters":[
              {
                 "name":"name",
                 "in":"query",
                 "description":"Only retrieve the security object with this name.",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"group_id",
                 "in":"query",
                 "description":"Only retrieve security objects in the specified group.",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"creator",
                 "in":"query",
                 "description":"Only retrieve security objects created by the user or application with the specified id.",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"sort",
                 "in":"query",
                 "description":"This specifies the property (`kid` or `name`) and order (ascending or descending) with which to sort the security objects. By default, security objects are sorted by `kid` in ascending order. The syntax is \"<property>:[asc|desc]\" (e.g. \"kid:desc\") or just \"<property>\" (ascending order by default).\n",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"compliant_with_policies",
                 "in":"query",
                 "description":"Whether this security object is compliant with cryptographic policies or not.",
                 "schema":{
                    "type":"boolean"
                 }
              },
              {
                 "name":"start",
                 "in":"query",
                 "description":"If provided, this must be a value of the property specified in `sort`. Returned security objects will begin just above or just below this value (for asc/desc order resp.).\n",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"limit",
                 "in":"query",
                 "description":"Maximum number of security objects to return. If not provided, the limit is 100.",
                 "schema":{
                    "type":"integer"
                 }
              },
              {
                 "name":"offset",
                 "in":"query",
                 "description":"Number of security objects past `start` to skip.",
                 "schema":{
                    "type":"integer"
                 }
              },
              {
                 "name":"show_destroyed",
                 "in":"query",
                 "description":"Whether security objects in the `Destroyed` state should be returned",
                 "schema":{
                    "type":"boolean"
                 }
              },
              {
                 "name":"show_deleted",
                 "in":"query",
                 "description":"Whether security objects in the `Deleted` state should be returned",
                 "schema":{
                    "type":"boolean"
                 }
              }
           ],
           "responses":{
              "200":{
                 "description":"An array of security objects.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "type":"array",
                          "items":{
                             "$ref":"#/components/schemas/KeyObject"
                          }
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "put":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Import a security object",
           "description":"Import a security object into DSM. <br> By default, all key operations except that are implemented for that type of key will be enabled. These may be overridden by requesting specific operations in the key import request. <br>\nFor symmetric and asymmetric keys, value is base64-encoding of the key material in DER format.\n",
           "operationId":"importSecurityObject",
           "requestBody":{
              "$ref":"#/components/requestBodies/SobjectRequest"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Generate a new security object",
           "description":"Generate a new security object (such as an RSA key pair or an AES key) of the requested size or elliptic curve. <br>\nBy default, all key operations except for Export that are implemented for that type of key will be enabled. These may be overridden by requesting specific operations in the key creation request. <br>\nObjects of type Opaque may not be generated with this API. They must be imported via the importSecurityObject API.\n",
           "operationId":"generateSecurityObject",
           "requestBody":{
              "$ref":"#/components/requestBodies/SobjectRequest"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}":{
        "get":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Get a specific security object",
           "description":"Get the details of a particular security object.\n",
           "operationId":"getSecurityObject",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              },
              {
                 "name":"view",
                 "in":"query",
                 "description":"The encoding the value of an opaque object or certificate",
                 "schema":{
                    "type":"string",
                    "default":"json",
                    "enum":[
                       "json",
                       "value"
                    ]
                 }
              },
              {
                 "name":"show_destroyed",
                 "in":"query",
                 "description":"Whether security objects in the `Destroyed` state should be returned",
                 "schema":{
                    "type":"boolean",
                    "default":false
                 }
              },
              {
                 "name":"show_deleted",
                 "in":"query",
                 "description":"Whether security objects in the `Deleted` state should be returned",
                 "schema":{
                    "type":"boolean"
                 }
              }
           ],
           "responses":{
              "200":{
                 "description":"Details about the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "delete":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Delete a security object",
           "description":"Delete a specified security object.",
           "operationId":"deleteSecurityObject",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "patch":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Update a security object",
           "description":"Update the properties of a security object.\n",
           "operationId":"updateSecurityObject",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/SobjectRequest"
           },
           "responses":{
              "200":{
                 "description":"Updated security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/destroy":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Destroys a security object, leaving its metadata in place",
           "description":"Destroys a security object. Objects in the `Destroyed` state cannot be used in any cryptographic operation. Their metadata however, remains present.\n",
           "operationId":"destroySecurityObject",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/info":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Get a specific security object by id or name",
           "description":"Get the details of a particular security object.\n",
           "operationId":"getSecurityObjectEx",
           "parameters":[
              {
                 "name":"view",
                 "in":"query",
                 "description":"The encoding the value of an opaque object or certificate",
                 "schema":{
                    "type":"string",
                    "default":"json",
                    "enum":[
                       "json",
                       "value"
                    ]
                 }
              },
              {
                 "name":"show_destroyed",
                 "in":"query",
                 "description":"Whether security objects in the `Destroyed` state should be returned",
                 "schema":{
                    "type":"boolean",
                    "default":false
                 }
              },
              {
                 "name":"show_deleted",
                 "in":"query",
                 "description":"Whether security objects in the `Deleted` state should be returned",
                 "schema":{
                    "type":"boolean"
                 }
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/GetSecurityObjectRequest"
           },
           "responses":{
              "200":{
                 "description":"Details about the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/kcv":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Get the key check value (KCV) of a symmetric key",
           "description":"Get the key check value (KCV) of a symmetric key",
           "operationId":"getSecurityObjectKcv",
           "requestBody":{
              "$ref":"#/components/requestBodies/SecurityObjectKcvRequest"
           },
           "responses":{
              "200":{
                 "description":"The key check value (KCV) of a symmetric key.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyCheckValueResponse"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/persist":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Persist a transient key.",
           "description":"This API copies a transient key into a persisted security object in DSM. If the transient key's origin is \"FortanixHSM\", the origin of the persisted key will be \"Transient\". If the transient key's origin is \"External\", the origin of the persisted key will be \"External\".\n",
           "operationId":"persistSecurityObject",
           "requestBody":{
              "$ref":"#/components/requestBodies/PersistTransientKeyRequest"
           },
           "responses":{
              "201":{
                 "description":"The persisted security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/private":{
        "delete":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Remove / Destroy private half of the asymmetric key",
           "description":"Removes the private portion of an asymmetric key from DSM. After this operation is performed, operations that require the private key, such as encryption and generating signatures, may no longer be performed.\n",
           "operationId":"deletePrivateKey",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/rekey":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Rotate a key.",
           "description":"Rotate an existing security object.",
           "operationId":"rotateSecurityObject",
           "requestBody":{
              "$ref":"#/components/requestBodies/SobjectRequest"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object that replaces the old one.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/export":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Retrieve the value of an exportable security object",
           "description":"Get the details and value of a particular exportable security object.\n",
           "operationId":"getSecurityObjectValueEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/ExportRequest"
           },
           "responses":{
              "200":{
                 "description":"Details and value of the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/components/export":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"export key components",
           "operationId":"exportSobjectComponents",
           "requestBody":{
              "$ref":"#/components/requestBodies/ExportSobjectComponentsRequest"
           },
           "responses":{
              "200":{
                 "description":"components and value of the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/ExportComponentsResponse"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/components/import":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"import key components",
           "operationId":"importSobjectComponents",
           "requestBody":{
              "$ref":"#/components/requestBodies/ImportSobjectComponentsRequest"
           },
           "responses":{
              "200":{
                 "description":"components and value of the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/digest":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Retrieve the digest (hash) of the value of an exportable security object",
           "operationId":"getSecurityObjectDigest",
           "requestBody":{
              "$ref":"#/components/requestBodies/ObjectDigestRequest"
           },
           "responses":{
              "200":{
                 "description":"Digest of the value of the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/DigestResponse"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/kcv/verify":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Verify that the KCV of the provided key material matches the provided KCV",
           "operationId":"verifyKcv",
           "requestBody":{
              "$ref":"#/components/requestBodies/VerifyKcvRequest"
           },
           "responses":{
              "200":{
                 "description":"True if the KCV provided matches the KCV of the provided key material.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/VerifyKcvResponse"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/export":{
        "get":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Retrieve the value of an exportable security object",
           "description":"Get the details and value of a particular exportable security object.\n",
           "operationId":"getSecurityObjectValue",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "200":{
                 "description":"Details and value of the specified security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/activate":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Transitions immediately a security object to Active state",
           "description":"Trigger the transition of a security object to Active state.\n",
           "operationId":"activateSecurityObject",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/revoke":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Transitions immediately a security object to Deactivated or Compromised state",
           "description":"Trigger the transition of a security object to Deactivated or Compromised state depending on the RevocationReason Code.\n",
           "operationId":"revokeSecurityObject",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/RevocationReason"
           },
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/revert":{
        "put":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Reverts a security object to a previous state",
           "description":"When a Key Undo Policy is in place, security objects maintain a list of history items. Using this API endpoint, clients may revert the security object to a previous (non-expired) history item.\n",
           "operationId":"revertHistoryItem",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/RevertRequest"
           },
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/encrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Encrypt data",
           "description":"Encrypt data using a symmetric or asymmetric key. <br>\nFor symmetric ciphers, mode (specifying the block cipher mode) is a required field. <br>\nFor GCM and CCM modes, tag_len is a required field. <br>\niv is optional for symmetric ciphers and unused for asymmetric ciphers. If provided, it will be used as the cipher initialization value. Length of iv must match the initialization value size for the cipher and mode. If not provided, DSM will create a random iv of the correct length for the cipher and mode and return this value in the response. <br>\nObjects of type Opaque, EC, or HMAC may not be used for encryption or decryption. <br>\n",
           "operationId":"encrypt",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/encrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Encrypt data",
           "description":"Encrypt data using a symmetric or asymmetric key. <br>\nFor symmetric ciphers, mode (specifying the block cipher mode) is a required field. <br>\nFor GCM and CCM modes, tag_len is a required field. <br>\niv is optional for symmetric ciphers and unused for asymmetric ciphers. If provided, it will be used as the cipher initialization value. Length of iv must match the initialization value size for the cipher and mode. If not provided, DSM will create a random iv of the correct length for the cipher and mode and return this value in the response. <br>\nObjects of type Opaque, EC, or HMAC may not be used for encryption or decryption. <br>\n",
           "operationId":"encryptEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/batch/encrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Batch encrypt with one or more keys",
           "description":"The data to be encrypted and the key ids to be used are provided in the request body. The encrypted cipher text is returned in the response body. The ordering of the body matches the ordering of the request. An individual status code is returned for each batch item. Maximum size of the entire batch request is 512 KB.\n",
           "operationId":"batchEncrypt",
           "requestBody":{
              "$ref":"#/components/requestBodies/BatchEncryptRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/BatchEncryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/encrypt/init":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Begin multi-part encryption",
           "description":"This API is used when encrypting more data than the client wishes to submit in a single request. It supports only symmetric ciphers and CBC, CBCNOPAD, CTR, and GCM modes of operation. To perform multi-part encryption, the client makes one request to the `init` resource, zero or more requests to the `update` resource, followed by one request to the `final` resource. The response to init and update requests includes a `state` field. The `state` is an opaque data blob that must be supplied unmodified by the client with the subsequent request.\n",
           "operationId":"encryptInit",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptInitRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptInitResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/encrypt/init":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Begin multi-part encryption",
           "description":"This API is used when encrypting more data than the client wishes to submit in a single request. It supports only symmetric ciphers and CBC, CBCNOPAD, CTR, and GCM modes of operation. To perform multi-part encryption, the client makes one request to the `init` resource, zero or more requests to the `update` resource, followed by one request to the `final` resource. The response to init and update requests includes a `state` field. The `state` is an opaque data blob that must be supplied unmodified by the client with the subsequent request.\n",
           "operationId":"encryptInitEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptInitRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptInitResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/encrypt/update":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Continue multi-part encryption",
           "description":"Continue a multi-part encryption operation. See `encrypt/init` for details.\n",
           "operationId":"encryptUpdate",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptUpdateRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptUpdateResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/encrypt/update":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Continue multi-part encryption",
           "description":"Continue a multi-part encryption operation. See `encrypt/init` for details.\n",
           "operationId":"encryptUpdateEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptUpdateRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptUpdateResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/encrypt/final":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Conclude multi-part encryption",
           "description":"Conclude a multi-part encryption operation. See `encrypt/init` for details.\n",
           "operationId":"encryptFinal",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptFinalRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptFinalResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/encrypt/final":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Conclude multi-part encryption",
           "description":"Conclude a multi-part encryption operation. See `encrypt/init` for details.\n",
           "operationId":"encryptFinalEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/EncryptFinalRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/EncryptFinalResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/stream/encrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Encrypt a stream of data",
           "description":"Encrypt a stream of data.  Like the multi-part API, this API is used when the data to be encrypted is large (>512KiB), or the size of the data is not known ahead of time.  It supports symmetric ciphers in the ECB, CBC, CBCNOPAD, CFB, OFB, CTR, and GCM modes of operation.  Unlike the multi-part API, a single long-running request is used, where the request and response bodies are streamed simultaneously.  <br>\nBoth the request and response are a sequence of frames, each encoded in CBOR.  The frames are concatenated into a CBOR sequence, following RFC 8742.  The request consists of an \"init\" frame, zero or more \"ad\" frames, one or more \"plain\" frames, and a \"final\" frame.  A successful response consists of an \"init\" frame, one or more \"cipher\" frames, and a \"final\" frame.  <br>\nIf an error occurs processing the \"init\" frame, the error is indicated as an HTTP status code and plain-text body, like all other APIs.  If an error occurs later, it is reported as an \"error\" frame, and no further frames are sent.\n",
           "operationId":"streamEncrypt",
           "requestBody":{
              "$ref":"#/components/requestBodies/StreamEncryptRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/StreamEncryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/decrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Decrypt data",
           "description":"Decrypt data using a symmetric or asymmetric key. For symmetric ciphers, mode (specifying the block cipher mode) is a required field. <br>\nFor GCM and CCM modes, tag_len is a required field. <br>\niv is required for symmetric ciphers and unused for asymmetric ciphers. It must contain the initialization value used when the object was encrypted. <br>\nObjects of type opaque, EC, or HMAC may not be used for encryption or decryption. <br>\n",
           "operationId":"decrypt",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/decrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Decrypt data",
           "description":"Decrypt data using a symmetric or asymmetric key. For symmetric ciphers, mode (specifying the block cipher mode) is a required field. <br>\nFor GCM and CCM modes, tag_len is a required field. <br>\niv is required for symmetric ciphers and unused for asymmetric ciphers. It must contain the initialization value used when the object was encrypted. <br>\nObjects of type opaque, EC, or HMAC may not be used for encryption or decryption. <br>\n",
           "operationId":"decryptEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/batch/decrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Batch decrypt with one or more keys",
           "description":"The data to be decrypted and the key ids to be used are provided in the request body. The decrypted plain text is returned in the response body. The ordering of the body matches the ordering of the request. An individual status code is returned for each batch item. Maximum size of the entire batch request is 512 KB.\n",
           "operationId":"batchDecrypt",
           "requestBody":{
              "$ref":"#/components/requestBodies/BatchDecryptRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/BatchDecryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/decrypt/init":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Begin multi-part decryption",
           "description":"This API is used when decrypting more data than the client wishes to submit in a single request. It supports only symmetric ciphers and CBC, CBCNOPAD, CTR, and GCM modes of operation. To perform multi-part decryption, the client makes one request to the `init` resource, zero or more requests to the `update` resource, followed by one request to the `final` resource. The response to init and update requests includes a `state` field. The `state` is an opaque data blob that must be supplied unmodified by the client with the subsequent request.\n",
           "operationId":"decryptInit",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptInitRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptInitResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/decrypt/init":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Begin multi-part decryption",
           "description":"This API is used when decrypting more data than the client wishes to submit in a single request. It supports only symmetric ciphers and CBC, CBCNOPAD, CTR, and GCM modes of operation. To perform multi-part decryption, the client makes one request to the `init` resource, zero or more requests to the `update` resource, followed by one request to the `final` resource. The response to init and update requests includes a `state` field. The `state` is an opaque data blob that must be supplied unmodified by the client with the subsequent request.\n",
           "operationId":"decryptInitEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptInitRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptInitResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/decrypt/update":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Continue multi-part decryption",
           "description":"Continue a multi-part decryption operation. See `decrypt/init` for details.\n",
           "operationId":"decryptUpdate",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptUpdateRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptUpdateResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/decrypt/update":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Continue multi-part decryption",
           "description":"Continue a multi-part decryption operation. See `decrypt/init` for details.\n",
           "operationId":"decryptUpdateEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptUpdateRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptUpdateResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/decrypt/final":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Conclude multi-part decryption",
           "description":"Conclude a multi-part decryption operation. See `decrypt/init` for details.\n",
           "operationId":"decryptFinal",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptFinalRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptFinalResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/decrypt/final":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Conclude multi-part decryption",
           "description":"Conclude a multi-part decryption operation. See `decrypt/init` for details.\n",
           "operationId":"decryptFinalEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/DecryptFinalRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DecryptFinalResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/stream/decrypt":{
        "post":{
           "tags":[
              "Encryption and Decryption"
           ],
           "summary":"Decrypt a stream of data",
           "description":"Decrypt a stream of data.  Like the multi-part API, this API is used when the data to be encrypted is large (>512KiB), or the size of the data is not known ahead of time.  It supports symmetric ciphers in the ECB, CBC, CBCNOPAD, CFB, OFB, CTR, and GCM modes of operation.  Unlike the multi-part API, a single long-running request is used, where the request and response bodies are streamed simultaneously.  <br>\nBoth the request and response are a sequence of frames, each encoded in CBOR.  The frames are concatenated into a CBOR sequence, following RFC 8742.  The request consists of an \"init\" frame, zero or more \"ad\" frames, one or more \"cipher\" frames, and a \"final\" frame.  A successful response consists of an \"init\" frame, one or more \"plain\" frames, and a \"final\" frame.  <br>\nIf an error occurs processing the \"init\" frame, the error is indicated as an HTTP status code and plain-text body, like all other APIs.  If an error occurs later, it is reported as an \"error\" frame, and no further frames are sent.\n",
           "operationId":"streamDecrypt",
           "requestBody":{
              "$ref":"#/components/requestBodies/StreamDecryptRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/StreamDecryptResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/sign":{
        "post":{
           "tags":[
              "Sign and Verify"
           ],
           "summary":"Sign with a private key",
           "description":"Sign data with a private key. The signing key must be an asymmetric key with the private part present. The sign operation must be enabled for this key. Symmetric keys may not be used to sign data. They can be used with the computeMac and verifyMac methods. <br>\nThe data must be hashed with a SHA-1 or SHA-2 family hash algorithm.\n",
           "operationId":"sign",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/SignRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/SignResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/sign":{
        "post":{
           "tags":[
              "Sign and Verify"
           ],
           "summary":"Sign with a private key",
           "description":"Sign data with a private key. The signing key must be an asymmetric key with the private part present. The sign operation must be enabled for this key. Symmetric keys may not be used to sign data. They can be used with the computeMac and verifyMac methods. <br>\nThe data must be hashed with a SHA-1 or SHA-2 family hash algorithm.\n",
           "operationId":"signEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/SignRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/SignResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/batch/sign":{
        "post":{
           "tags":[
              "Sign and Verify"
           ],
           "summary":"Batch sign with one or more private keys",
           "description":"The data to be signed and the key ids to be used are provided in the request body. The signature is returned in the response body. The ordering of the body matches the ordering of the request. An individual status code is returned for each batch item. Maximum size of the entire batch request is 512 KB.\n",
           "operationId":"batchSign",
           "requestBody":{
              "$ref":"#/components/requestBodies/BatchSignRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/BatchSignResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/verify":{
        "post":{
           "tags":[
              "Sign and Verify"
           ],
           "summary":"Verify a signature with a key",
           "description":"Verify a signature with a public key. The verifying key must be an asymmetric key with the verify operation enabled. Symmetric keys may not be used to verify data. They can be used with the computeMac and verifyMac operations. <br>\nThe signature must have been created with a SHA-1 or SHA-2 family hash algorithm.\n",
           "operationId":"verify",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/VerifyRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/VerifyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/verify":{
        "post":{
           "tags":[
              "Sign and Verify"
           ],
           "summary":"Verify a signature with a key",
           "description":"Verify a signature with a public key. The verifying key must be an asymmetric key with the verify operation enabled. Symmetric keys may not be used to verify data. They can be used with the computeMac and verifyMac operations. <br>\nThe signature must have been created with a SHA-1 or SHA-2 family hash algorithm.\n",
           "operationId":"verifyEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/VerifyRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/VerifyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/batch/verify":{
        "post":{
           "tags":[
              "Sign and Verify"
           ],
           "summary":"Batch verify with one or more private keys",
           "description":"The signature to be verified and the key ids to be used are provided in the request body. The result (true of false) returned in the response body. The ordering of the body matches the ordering of the request. An individual status code is returned for each batch item. Maximum size of the entire batch request is 512 KB.\n",
           "operationId":"batchVerify",
           "requestBody":{
              "$ref":"#/components/requestBodies/BatchVerifyRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/BatchVerifyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/digest":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Compute a message digest of data",
           "description":"This returns the digest of data provided in request body using the algorithm specified in request body. Maximum size of request body supported is 512KB.\n",
           "operationId":"computeDigest",
           "requestBody":{
              "$ref":"#/components/requestBodies/DigestRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/DigestResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/mac":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Compute MAC using a key",
           "description":"Compute a cryptographic Message Authentication Code on a message using a symmetric key. The key must have the MACGenerate operation enabled. Asymmetric keys may not be used to generate MACs. They can be used with the sign and verify operations.\n",
           "operationId":"computeMac",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/MacGenerateRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/MacGenerateResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/mac":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Compute MAC using a key",
           "description":"Compute a cryptographic Message Authentication Code on a message using a symmetric key. The key must have the MACGenerate operation enabled. Asymmetric keys may not be used to generate MACs. They can be used with the sign and verify operations.\n",
           "operationId":"computeMacEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/MacGenerateRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/MacGenerateResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/batch/mac":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Batch MAC with one or more keys",
           "description":"Message to compute a cryptographic Message Authentication Code and the key ids to be used are provided in the request body. The MAC is returned in the response body. The ordering of the body matches the ordering of the request. An individual status code is returned for each batch item. Maximum size of the entire batch request is 512 KB.\n",
           "operationId":"batchMac",
           "requestBody":{
              "$ref":"#/components/requestBodies/BatchMacRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/BatchMacResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/macverify":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Verify MAC using a key",
           "description":"The data to be MACed, the algorithm, and a pre-computed MAC are provided in the request body, and the key id is provided in the URL. DSM computes the MAC of the data and compares it with the specified MAC, and returns the outcome of the MAC verification in the response body. Maximum size of request body supported is 512KB. Supported digest algorithms are - SHA1, SHA256, SHA384, and SHA512.\n",
           "operationId":"verifyMac",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/MacVerifyRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/MacVerifyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/macverify":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Verify MAC using a key",
           "description":"The data to be MACed, the algorithm, and a pre-computed MAC are provided in the request body, and the key id is provided in the URL. DSM computes the MAC of the data and compares it with the specified MAC, and returns the outcome of the MAC verification in the response body. Maximum size of request body supported is 512KB. Supported digest algorithms are - SHA1, SHA256, SHA384, and SHA512.\n",
           "operationId":"verifyMacEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/MacVerifyRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/MacVerifyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/batch/macverify":{
        "post":{
           "tags":[
              "Digest"
           ],
           "summary":"Batch MAC Verify with one or more keys",
           "description":"The data to be MACed, the algorithm, a pre-computed MAC are provided in the request body, and the key id to be used are provided in the request body. The MAC is returned in the response body. The ordering of the body matches the ordering of the request. An individual status code is returned for each batch item. Maximum size of the entire batch request is 512 KB.\n",
           "operationId":"batchMacVerify",
           "requestBody":{
              "$ref":"#/components/requestBodies/BatchMacVerifyRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/BatchVerifyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/derive":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Derive a key from another key",
           "description":"This derives a key from an existing key and returns the properties of the new key. The request body contains the requested properties for the new as well as the mechanism to be used to produce the key material for the new key.\n",
           "operationId":"deriveKey",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/DeriveKeyRequest"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/derive":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Derive a key from another key",
           "description":"This derives a key from an existing key and returns the properties of the new key. The request body contains the requested properties for the new as well as the mechanism to be used to produce the key material for the new key.\n",
           "operationId":"deriveKeyEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/DeriveKeyRequestEx"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/agree":{
        "post":{
           "tags":[
              "Security Objects"
           ],
           "summary":"Agree on a key from two other keys",
           "description":"This does a cryptographic key agreement operation between a public and private key. Both keys must have been generated from the same parameters (e.g. the same elliptic curve). Both keys must allow the AGREEKEY operation. The request body contains the requested properties for the new key as well as the mechanism (e.g. Diffie-Hellman) to be used to produce the key material for the new key.\nThe output of this API should not be used directly as a cryptographic key. The target object type should be HMAC or Secret, and a key derivation procedure should be used to derive the actual key material.\n",
           "operationId":"agreeKey",
           "requestBody":{
              "$ref":"#/components/requestBodies/AgreeKeyRequest"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/wrapkey":{
        "post":{
           "tags":[
              "Wrapping and Unwrapping"
           ],
           "summary":"Wrap a security object with a key\n",
           "description":"Wrap (encrypt) an existing security object with a key. This allows keys to be securely exported from DSM so they can be later imported into DSM or another key management system. <br>\nThe key-id parameter in the URL specifies the key that will be used to wrap the other security object. The security object being wrapped is specified inside of the request body. <br>\nThe alg and mode parameters specify the encryption algorithm and cipher mode being used for the wrapping key. The algorithm of the key being wrapped is not provided to this API call. <br>\nThe key being wrapped must have the export operation enabled. The wrapping key must have the wrapkey operation enabled. <br>\nThe following wrapping operations are supported:\n  * Symmetric keys, HMAC keys, opaque objects, and secret objects may be wrapped with symmetric or asymmetric keys.\n  * Asymmetric keys may be wrapped with symmetric keys. Wrapping an asymmetric key with an asymmetric key is not supported.\n\nWhen wrapping with an asymmetric key, the wrapped object size must fit as plaintext for the wrapping key size and algorithm.\n",
           "operationId":"wrapKey",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/WrapKeyRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/WrapKeyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/wrapkey":{
        "post":{
           "tags":[
              "Wrapping and Unwrapping"
           ],
           "summary":"Wrap a security object with a key\n",
           "description":"Wrap (encrypt) an existing security object with a key. This allows keys to be securely exported from DSM so they can be later imported into DSM or another key management system. <br>\nThe key-id parameter in the URL specifies the key that will be used to wrap the other security object. The security object being wrapped is specified inside of the request body. <br>\nThe alg and mode parameters specify the encryption algorithm and cipher mode being used for the wrapping key. The algorithm of the key being wrapped is not provided to this API call. <br>\nThe key being wrapped must have the export operation enabled. The wrapping key must have the wrapkey operation enabled. <br>\nThe following wrapping operations are supported:\n  * Symmetric keys, HMAC keys, opaque objects, and secret objects may be wrapped with symmetric or asymmetric keys.\n  * Asymmetric keys may be wrapped with symmetric keys. Wrapping an asymmetric key with an asymmetric key is not supported.\n\nWhen wrapping with an asymmetric key, the wrapped object size must fit as plaintext for the wrapping key size and algorithm.\n",
           "operationId":"wrapKeyEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/WrapKeyRequestEx"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/WrapKeyResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/unwrapkey":{
        "post":{
           "tags":[
              "Wrapping and Unwrapping"
           ],
           "summary":"Unwrap a security object with a key",
           "description":"Unwrap (decrypt) a wrapped key and import it into DSM. This allows securely importing into DSM security objects that were previously wrapped by DSM or another key management system. A new security object will be created in DSM with the unwrapped data. <br>\nThe key-id parameter in the URL specifies the key that will be used to unwrap the other security object. This key must have the unwrapkey operation enabled. <br>\nThe alg and mode parameters specify the encryption algorithm and cipher mode being used by the unwrapping key. The obj_type parameter specifies the object type of the security object being unwrapped. The size or elliptic curve of the object being unwrapped does not need to be specified.\n",
           "operationId":"unwrapKey",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/UnwrapKeyRequest"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/unwrapkey":{
        "post":{
           "tags":[
              "Wrapping and Unwrapping"
           ],
           "summary":"Unwrap a security object with a key",
           "description":"Unwrap (decrypt) a wrapped key and import it into DSM. This allows securely importing into DSM security objects that were previously wrapped by DSM or another key management system. A new security object will be created in DSM with the unwrapped data. <br>\nThe key-id parameter in the URL specifies the key that will be used to unwrap the other security object. This key must have the unwrapkey operation enabled. <br>\nThe alg and mode parameters specify the encryption algorithm and cipher mode being used by the unwrapping key. The obj_type parameter specifies the object type of the security object being unwrapped. The size or elliptic curve of the object being unwrapped does not need to be specified.\n",
           "operationId":"unwrapKeyEx",
           "requestBody":{
              "$ref":"#/components/requestBodies/UnwrapKeyRequestEx"
           },
           "responses":{
              "201":{
                 "description":"A newly created security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/restore":{
        "post":{
           "tags":[
              "AWS"
           ],
           "summary":"Restore an AWS KMS key from its source key material",
           "description":"Restore an AWS key from its source key material",
           "operationId":"restore",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "200":{
                 "description":"The restored security object.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/schedule_deletion":{
        "post":{
           "tags":[
              "AWS"
           ],
           "summary":"Schedule an AWS KMS key for deletion",
           "description":"Schedule an AWS KMS key for deletion",
           "operationId":"scheduleDeletion",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/ScheduleDeletionRequest"
           },
           "responses":{
              "200":{
                 "description":"The security object scheduled for deletion.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/cancel_deletion":{
        "post":{
           "tags":[
              "AWS"
           ],
           "summary":"Cancel scheduled deletion of an AWS KMS key",
           "description":"Cancel scheduled deletion of an AWS KMS key",
           "operationId":"cancelDeletion",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "200":{
                 "description":"The security object for which deletion was cancelled.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/crypto/v1/keys/{key-id}/delete_key_material":{
        "post":{
           "tags":[
              "AWS"
           ],
           "summary":"Delete the key material of an AWS KMS key",
           "description":"Delete the key material of an AWS KMS key",
           "operationId":"deleteKeyMaterial",
           "parameters":[
              {
                 "$ref":"#/components/parameters/KeyId"
              }
           ],
           "responses":{
              "200":{
                 "description":"The security object for which the key material was deleted.",
                 "content":{
                    "application/json":{
                       "schema":{
                          "$ref":"#/components/schemas/KeyObject"
                       }
                    }
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/apps":{
        "get":{
           "tags":[
              "Apps"
           ],
           "summary":"Get all applications",
           "description":"Get details of all applications the current user has access to.",
           "operationId":"getApps",
           "parameters":[
              {
                 "name":"group_id",
                 "in":"query",
                 "description":"Only retrieve applications in the specified group.",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"sort",
                 "in":"query",
                 "description":"This specifies the property (`app_id` only, for now) and order (ascending or descending) with which to sort the apps. By default, apps are sorted by `app_id` in ascending order. The syntax is \"<property>:[asc|desc]\" (e.g. \"app_id:desc\") or just \"<property>\" (ascending order by default).\n",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"start",
                 "in":"query",
                 "description":"If provided, this must be a value of the property specified in `sort`. Returned apps will begin just above or just below this value (for asc/desc order resp.).\n",
                 "schema":{
                    "type":"string"
                 }
              },
              {
                 "name":"limit",
                 "in":"query",
                 "description":"Maximum number of apps to return. If not provided, the limit is 100.",
                 "schema":{
                    "type":"integer"
                 }
              },
              {
                 "name":"offset",
                 "in":"query",
                 "description":"Number of apps past `start` to skip.",
                 "schema":{
                    "type":"integer"
                 }
              }
           ],
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AppListResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "post":{
           "tags":[
              "Apps"
           ],
           "summary":"Create a new application",
           "description":"Create a new application with the specified properties.",
           "operationId":"createApp",
           "requestBody":{
              "$ref":"#/components/requestBodies/AppRequest"
           },
           "responses":{
              "201":{
                 "$ref":"#/components/responses/AppResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/apps/{app-id}":{
        "get":{
           "tags":[
              "Apps"
           ],
           "summary":"Get a specific application",
           "description":"Look up an application by application ID.",
           "operationId":"getApp",
           "parameters":[
              {
                 "$ref":"#/components/parameters/AppId"
              }
           ],
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AppResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "delete":{
           "tags":[
              "Apps"
           ],
           "summary":"Delete application",
           "description":"Remove an application from DSM.",
           "operationId":"deleteApp",
           "parameters":[
              {
                 "$ref":"#/components/parameters/AppId"
              }
           ],
           "responses":{
              "204":{
                 "description":"Nothing is returned on success.",
                 "content":{
                    
                 }
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "patch":{
           "tags":[
              "Apps"
           ],
           "summary":"Update an application",
           "description":"Change an application's properties, such as name, description, or group membership.",
           "operationId":"updateApp",
           "parameters":[
              {
                 "$ref":"#/components/parameters/AppId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/AppRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AppResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/apps/{app-id}/reset_secret":{
        "post":{
           "tags":[
              "Apps"
           ],
           "summary":"Regenerate API key",
           "description":"Create a new API key for an application. An application may only have one valid API key at a time, so performing this action will invalidate all old API keys. This does not invalidate existing sessions, so any applications with an existing open session will be able to continue operating with their old session until those sessions expire.\n",
           "operationId":"regenerateApiKey",
           "parameters":[
              {
                 "$ref":"#/components/parameters/AppId"
              }
           ],
           "requestBody":{
              "$ref":"#/components/requestBodies/AppResetSecretRequest"
           },
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AppResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/apps/{app-id}/credential":{
        "get":{
           "tags":[
              "Apps"
           ],
           "summary":"Get a specific application's credential",
           "description":"Retrieve the authentication credential (API key or certificate) for a particular application. Only users who are an administrator of at least one of the application's groups can retrieve the credential.",
           "operationId":"getCredential",
           "parameters":[
              {
                 "$ref":"#/components/parameters/AppId"
              }
           ],
           "responses":{
              "200":{
                 "$ref":"#/components/responses/AppCredentialResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/groups":{
        "get":{
           "tags":[
              "Groups"
           ],
           "summary":"Get all groups",
           "description":"Get detailed information about all groups the authenticated User or authenticated Application belongs to.",
           "operationId":"getGroups",
           "responses":{
              "200":{
                 "$ref":"#/components/responses/GroupListResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "post":{
           "tags":[
              "Groups"
           ],
           "summary":"Create new group",
           "description":"Create a new group with the specified properties.",
           "operationId":"createGroup",
           "requestBody":{
              "$ref":"#/components/requestBodies/GroupRequest"
           },
           "responses":{
              "201":{
                 "$ref":"#/components/responses/GroupResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        }
     },
     "/sys/v1/groups/{group-id}":{
        "get":{
           "tags":[
              "Groups"
           ],
           "summary":"Get a specific group",
           "description":"Look up a specific group by group ID.",
           "operationId":"getGroup",
           "parameters":[
              {
                 "$ref":"#/components/parameters/GroupId"
              }
           ],
           "responses":{
              "200":{
                 "$ref":"#/components/responses/GroupResponse"
              },
              "default":{
                 "$ref":"#/components/responses/ErrorResponse"
              }
           },
           "security":[
              {
                 "bearerToken":[
                    
                 ]
              }
           ]
        },
        "delete":{
           "tags":[
              "Groups"
           ],
[...]
